<header>
    <div class="navbar-fixed">
        <div class="row">
            <nav>
                <div class="nav-wrapper blue">
                    <div class="col s12">
                        <a href="{% url 'main:index' %}" class="brand-logo" style="white-space: nowrap;">Blurry Detection</a>
                        <a href="{% url 'main:index' %}" data-target="mobile-demo" class="sidenav-trigger"><i
                                class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            {% include "includes/navbar_items.html" %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <ul class="sidenav" id="mobile-demo">
        {% include "includes/navbar_items.html" %}
    </ul>
</header>

