<li><a href="{% url 'main:index' %}">Home</a></li>
{% if user.is_authenticated %}
<li><a href="{% url 'detector:upload_image' %}">Detect</a></li>
<li><a href="{% url 'main:about' %}">About</a></li>
<li><a href="{% url 'main:profile' user.id %}">{{ user.username }}</a></li>
<li><a href="{% url 'main:logout' %}">Logout</a></li>
{% else %}
<li><a href="{% url 'main:about' %}">About</a></li>
<li><a href="{% url 'main:login' %}">Login</a></li>
<li><a href="{% url 'main:register' %}">Register</a></li>
{% endif %}
